.home{
    -fx-background-image: url("/img/b4.jpg");

    -fx-background-size: 100% 100%;

}
.sign{
-fx-background-image: url("/img/b4.jpg");
}
.profile{
-fx-background-image: url("/img/b4.jpg");
}
.emp{
-fx-background-image: url("/img/cback.jpg");
}