.home{
    -fx-background-image: url("/img/b4.jpg");

    -fx-background-size: 100% 100%;

}
.sign{
-fx-background-image: url("/img/b4.jpg");
}
.profile{
-fx-background-image: url("/img/b4.jpg");
}
.emp{
-fx-background-image: url("/img/cback.jpg");
}
.textfield:focused{
   -fx-background-color:#fff;
   -fx-border-width: 0px 0px 1.8px 0px;
}
